
body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color:white;
    text-align: center;
    font-weight: normal;
    margin:33px auto;
}

.dowload-url{
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    display: block;
    margin:20px auto;
}

video{
    margin:0 auto;
    display: block;
}

h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: 300;
}

p{
    font-size: 21px;
    color:gray;
    text-align: center;
}

img{
    display: block;
    margin:0 auto;
}

#phone{
    margin-top: 25px;
}
footer p{
    text-align: right;
    color:gray;
}